{% extends 'base.html' %}

{% load staticfiles %}
{% block individual_css %}
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />
{% endblock %}

{% block content %}
  <h2>Usuários</h2>
    <div class="table-responsive">
      <table class="table table-sm">
        <thead>
          <tr>
            <th>#</th>
            <th>Nome de usuário</th>
            <th>Email</th>
            <th>Tipo de conta</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          {% load bootstrap_account_type %}
          {% for usuario in usuarios %}
            <tr>
              <td>{{ usuario.id }}</td>
              <td>{{ usuario.username }}</td>
              <td>{{ usuario.email }}</td>
              <td><span class="tag tag-default">{{ usuario|account_type }}</span></td>
              <td>
                <a class="btn btn-outline-warning btn-sm" href="{% url 'cms_show_edit_usuario' usuario.id %}" role="button">Editar</a>
                <a class="btn btn-outline-danger btn-sm" href="#" role="button">Excluir</a>
              </td>
            </tr>
          {% empty %}
            <tr></tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  <a class="btn btn-outline-primary" href="#" role="button">Adicionar usuário</a>
{% endblock %}